@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: whitesmoke;
  font-family: cursive;
  color: #111827;
}

.form {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 7rem;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1%;
  justify-content: center;
}

#card {
  border: solid black;
  border-radius: 25px;
  width: 20%;
  margin: 20px;
  text-align: center;
  background-color: rgb(24, 24, 24);
}

#card img {
  width: 100%;
  height: 50%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#card h3 {
  font-size: larger;
  font-weight: bold;
  color: orange;
  text-align: center;
  height: 10%;
  align-content: center;
}

#card h4 {
  font-size: larger;
  margin: 20px;
  color: white;
}

#card p {
  display: flex;
  text-align: justify;
  margin: 10px;
  height: 15%;
  color: white;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: orange;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 15px;
}

button:hover {
  border-color: wheat;
  background-color: rgb(231, 150, 0);
}
